In [14]:
# 2. Find the length of a list without using the `len()` function.

n= int(input('Enter number of elements'))
list = []
for i in range(n):
    list.append(input('Enter the list item'))
    
# count = 0
# for i in range(len(list)):
#     count+=1
    
count = sum( 1 for i in range(n))
print(count)

Enter number of elements 5
Enter the list item 1
Enter the list item 2
Enter the list item 3
Enter the list item 4
Enter the list item 5

5

In [1]:
# 3. Append an element to the end of a list.

listStr = input('Enter space seperated list items')
item = int(input ('Enter item to be added'))
list = list(int(x) for x in listStr.split())
list.append(item)
print('updated list is:',list)

Enter space seperated list items 1 2 3 4 5
Enter item to be added 6

updated list is: [1, 2, 3, 4, 5, 6]

In [1]:
# 4. Insert an element at a specific index in a list.

listStr = input('Enter space seperated list items')
item = int(input ('Enter item to be added'))
position = int (input('Enter the position'))
list = list(int(x) for x in listStr.split())
list.insert(position-1,item)
print('updated list is:',list)

Enter space seperated list items 1 2 3 4 5
Enter item to be added 9
Enter the position 3

updated list is: [1, 2, 9, 3, 4, 5]

In [1]:
# 5. Remove an element from a list by its value.

listStr = input('Enter space seperated list items')
item = int(input ('Enter item to be added'))
list = list(int(x) for x in listStr.split())
list.remove(item)
print('updated list is:',list)

Enter space seperated list items 1 2 3 4 5 6
Enter item to be added 4

updated list is: [1, 2, 3, 5, 6]

In [1]:
# 6. Remove an element from a list by its index.

listStr = input('Enter space seperated list items')
position = int (input('Enter the position'))
list = list(int(x) for x in listStr.split())
list.pop(position-1)
print('updated list is:',list)

Enter space seperated list items 1 2 3 4 5 6
Enter the position 3

updated list is: [1, 2, 4, 5, 6]

In [2]:
listStr = input('Enter space seperated list items')
input_list = list(int(x) for x in listStr.split())

Enter space seperated list items 44 56 22 78 93 2 12 45 65 39 83

In [3]:
# 7. Check if an element exists in a list.
# 8. Find the index of the first occurrence of an element in a list.

item = int(input ('Enter item to be added'))
if(item in input_list):
    print('item exists in a list at index',input_list.index(item))
else:
    print('element does not exists in a list.')

Enter item to be added 93

item exists in a list at index 4

In [4]:
# 9. Count the occurrences of an element in a list.

item = int(input ('Enter item to be added'))
count = input_list.count(item)
print(item,'occurrences in',input_list,'is',count)

Enter item to be added 56

56 occurrences in [44, 56, 22, 78, 93, 2, 12, 45, 65, 39, 83] is 1

In [6]:
# 10. Reverse the order of elements in a list.

print('Reversed list is',input_list[::-1])

Reversed list is [83, 39, 65, 45, 12, 2, 93, 78, 22, 56, 44]

In [7]:
# 11. Sort a list in ascending order.

sorted_list = sorted(input_list)
print('sorted list is',sorted_list)

sorted list is [2, 12, 22, 39, 44, 45, 56, 65, 78, 83, 93]

In [9]:
# 12. Sort a list in descending order.

sorted_list = sorted(input_list,reverse=True)
print('sorted list is',sorted_list)

sorted list is [93, 83, 78, 65, 56, 45, 44, 39, 22, 12, 2]

In [16]:
# 13. Create a list of even numbers from 1 to 20.

# even_list = list(range(2, 21,2))
even_list = [x for x in range(21) if x%2==0] 

print(even_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
# 14. Create a list of odd numbers from 1 to 20.

# odd_list = list(range(1, 21,2))
odd_list = [x for x in range(21) if x%2!=0] 

print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [21]:
# 15. Find the sum of all elements in a list.

list_sum = sum(x for x in input_list)
print(list_sum)

539

In [22]:
# 16. Find the maximum value in a list.
# 17. Find the minimum value in a list.

list_max = max(input_list)
list_min = min(input_list)
print('the maximum value in a list is ',list_max)
print('the minimum value in a list is ',list_min)

the maximum value in a list is  93
the minimum value in a list is  2

In [23]:
# 18. Create a list of squares of numbers from 1 to 10.

squares_list = [x*x for x in range(1,11)]
print('list of squares of numbers from 1 to 10 is:',squares_list)

list of squares of numbers from 1 to 10 is: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
# 19. Create a list of random numbers.

In [1]:
# 20. Remove duplicates from a list.

my_list=  [83, 39, 65, 44, 12, 12, 93, 78, 22, 65, 44]
my_list = list(set(my_list))
print('List with no duplicates is',my_list)

List with no duplicates is [65, 39, 44, 12, 78, 83, 22, 93]

In [2]:
# 21. Find the common elements between two lists.

list1 = [11, 13, 57, 89, 92, 47, 94, 56]
list2 = [12, 13, 58 ,89, 92, 47, 95, 56]

#  METHOD 1

# result = set(list1).intersection(set(list2))

# METHOD 2

# result = set(list1) & set(list2)

# METHOD 3

result = [ i for i in list1 if i in list2]

print('common elements between two lists are', result )

common elements between two lists are {13, 47, 56, 89, 92}

In [5]:
# 22. Find the difference between two lists.

list1 = [11, 13, 57, 89, 92, 47, 94, 56]
list2 = [12, 13, 58 ,89, 92, 47, 95, 56]

#  METHOD 1

# result = set(list1)-(set(list1) & set(list2))

# METHOD 2

result = [ i for i in list1 if i not in list2]

print('common elements between two lists are', result )

common elements between two lists are [11, 57, 94]

In [15]:
# 23. Merge two lists.

list1 = [11, 13, 57, 89, 92, 47, 94, 56]
list2 = [12, 13, 58 ,89, 92, 47, 95, 56]

#  METHOD 1

# list1.extend(list2)
# result = list1

# METHOD 2

# result = list1 + list2

# METHOD 3

# result = [*list1,*list2] 

# METHOD 4

result = [ y for x in [list1,list2] for y in x ]

print('common elements between two lists are', result)

common elements between two lists are [11, 13, 57, 89, 92, 47, 94, 56, 12, 13, 58, 89, 92, 47, 95, 56]

In [ ]:
# 24. Multiply all elements in a list by 2.

list1 = [11, 13, 57, 89, 92, 47, 94, 56]

result = [ y*2 for y in list1 ]

print('elements in a list by 2', result)

elements in a list by 2 [22, 26, 114, 178, 184, 94, 188, 112]

In [17]:
# 25. Filter out all even numbers from a list.

list1 = [11, 13, 57, 89, 92, 47, 94, 56]

result = [ y for y in list1 if y%2==0 ]

print('all even numbers', result)

all even numbers [92, 94, 56]

In [1]:
# 26. Convert a list of strings to a list of integers.

list1 = ['11', '13', '57', '89', '92', '47', '94', '56']

#  METHOD 1

# result = [ int(y) for y in list1 ]

#  METHOD 2

result = list(map(int,list1))  # map func returns the iterator object that we can convert in any list set etc

print('a list of strings to a list of integers', result)

a list of strings to a list of integers [11, 13, 57, 89, 92, 47, 94, 56]

In [2]:
# 27. Convert a list of integers to a list of strings.

list1 = [11, 13, 57, 89, 92, 47, 94, 56]

#  METHOD 1

# result = [ str(y) for y in list1 ]

#  METHOD 2

result = list(map(str,list1))

print('a list of strings to a list of integers', result)

a list of strings to a list of integers ['11', '13', '57', '89', '92', '47', '94', '56']

In [11]:
# 28. Flatten a nested list.

list1 = [[11, 13, 57], [89, 92, 47], [94, 56,54]]

#  METHOD 1
# result = [ y for x in list1 for y in x ]

#  METHOD 2
# result = []
# for sublist in list1:
#     result.extend(sublist)

#  METHOD 3

result = sum(list1,[]) # here we are suming every value of the list i.e. the sub list starting value is the empty list otherwise it is 


print('Flatten list is', result)

Flatten list is [11, 13, 57, 89, 92, 47, 94, 56, 54]

In [2]:
# 29. Create a list of the first 10 Fibonacci numbers.

n = int(input('Enter number of elements in fibonacci'))
result = [0,1]
for i in range(n-2):
    result.append(result[i]+result[i+1])
print (' Elements in fibonacci are:',result)

Enter number of elements in fibonacci 10

 Elements in fibonacci are: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [4]:
# 30. Check if a list is sorted.

#  APPROCH USED -> if every no is greator than its prev one than the list is sorted else not.
list1 = [1,2,5,4,3]
flag = True
for i in range(len(list1) - 1):
    if list1[i + 1] < list1[i]:
        print('List is UnSorted')
        break
else:
    print('List is Sorted')
    
#  in this if the for excuted without the break statement that the else will be executed

List is UnSorted

In [5]:
# 31. Rotate a list to the left by `n` positions.

listStr= input('enter the list elements seperated by space')
list1 = list(int(x) for x in listStr.split())
leftRotation = int(input('number of elements to be rotated'))
n=len(list1)-leftRotation%len(list1)
result =[*list1[n-1::-1],*list1[-1:n-1:-1]][::-1]
print(result)

enter the list elements seperated by space 1 2 3 4 5 6 7 8
number of elements to be rotated 18

[7, 8, 1, 2, 3, 4, 5, 6]

In [2]:
# 32. Rotate a list to the right by `n` positions.

listStr= input('enter the list elements seperated by space')
list1 = list(int(x) for x in listStr.split())
rightRotation = int(input('number of elements to be rotated'))
n=rightRotation%len(list1)
result =[*list1[n-1::-1],*list1[-1:n-1:-1]][::-1]
print(result)

In [5]:
# 33. Create a list of prime numbers up to 50.

def isPrimeNumber(num):
    for i in range(2,num//2+1):
        if(num % i == 0):
            return False    
    else:
        return True
    
primeNumbers=[]
for i in range(1,51):
    if(isPrimeNumber(i)):
        primeNumbers.append(i)
print('Prime Number are :',primeNumbers)

Prime Number are : [1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [19]:
# 34. Split a list into chunks of size `n`.
          
list1 = [1,2,3,4,5,6,7,8,9,10]
n=3
result=[]
# for i in range(len(list1)):
#     if(i*n < len(list1)):
#         result.append(list1[i*n:(i+1)*n])
# print(result)

for i in range(0,len(list1),n):
     result.append(list1[i:(i+n)])
print(result)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [21]:
# 35. Find the second largest number in a list.

list1 = [11, 13, 57, 89, 92, 47, 94, 56]
list1.remove(max(list1))
print(max(list1))

92

In [23]:
# 36. Replace every element in a list with its square.

list1 = [11, 13, 57, 89, 92, 47, 94, 56]
list1 = [ x*x for x in list1]
print(list1)

[121, 169, 3249, 7921, 8464, 2209, 8836, 3136]

In [29]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.

list1 = [11, 13, 57, 89, 92, 47, 94, 56]
dict1 = {}
for i,ele in enumerate(list1):
    dict1[ele] = i
print(dict1)

{11: 0, 13: 1, 57: 2, 89: 3, 92: 4, 47: 5, 94: 6, 56: 7}

In [26]:
# 38. Shuffle the elements of a list randomly.

import random 
list1 = [11, 13, 57, 89, 92, 47, 94, 56]
random.shuffle(list1)
print("Shuffled list",list1)

Shuffled list [13, 56, 57, 92, 11, 94, 89, 47]

In [25]:
# 40. Check if two lists have at least one element in common.

list1 = [11, -13, 57, 89, -92, -47, 94, 56]
list2 = [11, -12, 59, 59, -90, -43, 91, 55]
common_elements = [i for i in list1 if i in list2]
print("Have common elements" if len(common_elements)>0 else "Have no common elements")

Have common elements

In [24]:
# 41. Remove all elements from a list.

list1 = [11, -13, 57, 89, -92, -47, 94, 56]
updated_list = list1.clear()
print(updated_list)

None
<class 'NoneType'>

In [18]:
# 42. Replace negative numbers in a list with 0.

list1 = [11, -13, 57, 89, -92, -47, 94, 56]
updated_list = [i if i>0 else 0 for i in list1]
print(updated_list)

[11, 0, 57, 89, 0, 0, 94, 56]

In [14]:
# 43. Convert a string into a list of words.

str1=input("Enter a string")
print(str1.split())

Enter a string hii nityaa here

['hii', 'nityaa', 'here']

In [13]:
# 44. Convert a list of words into a string.

list1= ["hii", "nityaa", "here"]
str1= " ".join(list1)
print(str1)

hii nityaa here

In [11]:
# 45. Create a list of the first `n` powers of 2.

n = int(input("Enter a number"))
print([2**i for i in range(n)])

Enter a number 5

[1, 2, 4, 8, 16]

In [10]:
# 46. Find the longest string in a list of strings.

str1 = input().split()
longest_word = max(str1,key=len)
print(f"shortest word is {longest_word}")

 hii nityaa here

shortest word is nityaa

In [9]:
# 47. Find the shortest string in a list of strings.

str1 = input().split()
shortest_word = min(str1,key=len)
print(f"shortest word is {shortest_word}")

 hi nityaa here

shortest word is hi

In [2]:
# 48. Create a list of the first `n` triangular numbers.

n = int(input("Enter a number"))
list1 = [(i*(i+1))//2 for i in range(1,n+1)]
print(f"the first {n} triangular numbers {list1}")

Enter a number 5

the first 5 triangular numbers [1, 3, 6, 10, 15]

In [9]:
# 49. Check if a list contains another list as a subsequence.

list1 = [1,2,3,4,5,6,7,8]
list2=[3,4,5]
print('It is a subsequence' if(list2 in list1) else 'It is not a subsequence')

It is not a subsequence

In [5]:
# 50. Swap two elements in a list by their indices.

list1=[1,2,3,4,5,6,7,8]
position1= 3 
position2= 6
list1[position1],list1[position2]=list1[position2],list1[position1]
print('Updated list is:',list1)

Updated list is: [1, 2, 3, 7, 5, 6, 4, 8]