In [1]:
# 1. Create a set with integers from 1 to 5.

print({i for i in range(1,6)})

{1, 2, 3, 4, 5}

In [2]:
# 2. Add an element to a set.

set1 = {1,2,3,4,5}
n = int(input("Enter a number"))
set1.add(n)
print("Updated set",set1)

Enter a number 34

Updated set {1, 2, 3, 4, 5, 34}

In [1]:
# 3. Remove an element from a set.

set1 = {int(i) for i in input("Enter space sperated elements").split()}
n = int(input("Enter a number"))
set1.discard(n)
print("Updated set",set1)

Enter space sperated elements 1 2 3 4 5
Enter a number 6

Updated set {1, 2, 3, 4, 5}

In [9]:
# 4. Check if an element exists in a set.

set1 = {int(i) for i in input("Enter space sperated elements").split()}
n = int(input("Enter a number"))
if(n in set1):
    print("Item does exist")
else:
    print("Item doesn't exist")

Enter space sperated elements 1 2 3 4 5
Enter a number 4

Item does exist

In [10]:
# 5. Find the length of a set without using the `len()` function.

set1 = {int(i) for i in input("Enter space sperated elements").split()}
print(sum([1 for i in set1]))

Enter space sperated elements 1 2 3 4 5 6 7 8

8

In [12]:
# 6. Clear all elements from a set.

set1 = {11, 13, 57, 89, 92, 47, 94, 56}
print("Set before clear",set1)
set1.clear()
print("Set after clear",set1)

Set before clear {11, 13, 47, 56, 89, 92, 94, 57}
Set after clear set()

In [13]:
# 7. Create a set of even numbers from 1 to 10.
# 8. Create a set of odd numbers from 1 to 10.

even = {i for i in range(1,11) if i%2==0}
odd = {i for i in range(1,11) if i%2!=0}

print("set of even numbers from 1 to 10",even)
print("set of odd numbers from 1 to 10",odd)

set of even numbers from 1 to 10 {2, 4, 6, 8, 10}
set of odd numbers from 1 to 10 {1, 3, 5, 7, 9}

In [16]:
# 9. Find the union of two sets.

set1 = {1,2,3,4,5,6,7}
set2 = {2, 4, 6, 8, 10}

union = set1.union(set2)
print(f"union of {set1} and {set2} is {union}")

union of {1, 2, 3, 4, 5, 6, 7} and {2, 4, 6, 8, 10} is {1, 2, 3, 4, 5, 6, 7, 8, 10}
intersection of {1, 2, 3, 4, 5, 6, 7} and {2, 4, 6, 8, 10} is {2, 4, 6}

In [ ]:
# 10. Find the intersection of two sets.

intersection = set1.intersection(set2)
print(f"intersection of {set1} and {set2} is {intersection}")

In [17]:
# 11. Find the difference between two sets.

diff = set1.difference(set2)
print(f"difference of {set1} and {set2} is {diff}")

intersection of {1, 2, 3, 4, 5, 6, 7} and {2, 4, 6, 8, 10} is {1, 3, 5, 7}

In [21]:
# 12. Check if a set is a subset of another set.

set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {2, 4, 6, 8, 10}

print(set2.issubset(set1))

True

In [24]:
# 13. Check if a set is a superset of another set.

print(set1.issuperset(set2))

True

In [27]:
# 14. Create a set from a list.
# 15. Convert a set to a list.

list1 = [11, 13, 57, 89, 92, 47, 94, 56]

set1 = set(list1)

print("Set  from list is",set1)
print("List from set is", list(set1))

Set  from list is {11, 13, 47, 56, 89, 92, 94, 57}
List from set is [11, 13, 47, 56, 89, 92, 94, 57]

In [34]:
# 16. Remove a random element from a set.

import random

set1 = {11, 13, 47, 56, 89, 92, 94, 57}
ele = random.choice(list(set1))
set1.remove(ele)
print("Updated set",set1,"after removing",ele)

Updated set {11, 13, 47, 89, 92, 94, 57} after removing 56

In [38]:
# 17. Pop an element from a set.

set1 = {11, 13, 47, 56, 89, 92, 94, 57}
ele = set1.pop()
print("Updated set",set1,"after removing",ele)

Updated set {13, 47, 56, 89, 92, 94, 57} after removing 11

In [12]:
# 18. Check if two sets have no elements in common.

set1 = {2, 4, 6, 8, 10}
set2= {1, 3, 5, 7, 9}
print("Have no elements in common" if(set1.isdisjoint(set2)) else "Have elemments in common")

Have no elements in common

In [42]:
# 19. Find the symmetric difference between two sets.

set1 = {2,3,4,5,6,7}
set2 = {2, 4, 6, 8, 10}

diff = set1.symmetric_difference(set2)
print(f"symmetric difference of {set1} and {set2} is {diff}")

symmetric difference of {2, 3, 4, 5, 6, 7} and {2, 4, 6, 8, 10} is {3, 5, 7, 8, 10}

In [46]:
# 20. Update a set with elements from another set.

set1 = {2,3,4,5,6,7}
set2 = {2, 4, 6, 8, 10}

updatedSet = set1.update(set2)
print(f"Updated set {set1}")

Updated set {2, 3, 4, 5, 6, 7, 8, 10}

In [48]:
# 21. Create a set of the first 5 prime numbers.

def isPrimeNumber(num):
    for i in range(2,num//2+1):
        if(num % i == 0):
            return False    
    else:
        return True
prime_numbers=set()
i=2
while(len(prime_numbers)!= 5):
    if(isPrimeNumber(i)):
        prime_numbers.add(i)
    i+=1

print("set of the first 5 prime numbers is",prime_numbers)

set of the first 5 prime numbers is {2, 3, 5, 7, 11}

In [11]:
# 22. Check if two sets are identical.

set1 = {2, 3, 4, 5, 6, 7, 8, 10}
set2 = {2, 3, 4, 5, 6, 7, 8, 10}

# METHOD:1
# isIdentical = set1==set2

# METHOD:2
# isIdentical = set1.issubset(set2) and set2.issubset(set1)

# METHOD:3
isIdentical = len(set1.symmetric_difference(set2)) == 0

print(f"{set1} and {set2} are identical = {isIdentical}" )

{2, 3, 4, 5, 6, 7, 8, 10} and {2, 3, 4, 5, 6, 7, 8, 10} are identical = True

In [10]:
# 23. Create a frozen set.

set1 = {2, 3, 4, 5, 6, 7, 8, 10}
ff= frozenset(set1)
print("Frozen set is",ff)

Frozen set is frozenset({2, 3, 4, 5, 6, 7, 8, 10})

In [13]:
# 24. Check if a set is disjoint with another set.

set1 = {2, 4, 6, 8, 10}
set2= {1, 3, 5, 7, 9}
print("set are disjoint" if(set1.isdisjoint(set2)) else "set are not disjoint")

set are disjoint

In [14]:
# 25. Create a set of squares of numbers from 1 to 5.

print({ i**2 for i in range(1,6) })

{1, 4, 9, 16, 25}

In [1]:
# 26. Filter out all even numbers from a set.

set1 = {2, 3, 4, 5, 6, 7, 8, 10}
even = {i for i in set1 if i%2 == 0}
print(even)

{2, 4, 6, 8, 10}

In [3]:
# 27. Multiply all elements in a set by 2.

set1 = {2, 3, 4, 5, 6, 7, 8, 10}
mul2 = {i*2 for i in set1}
print(mul2)

{4, 6, 8, 10, 12, 14, 16, 20}

In [4]:
# 28. Create a set of random numbers.

import random

n = int(input("Enter a number"))
set1=set()
for i in range(n):
    set1.add(random.random())
print(set1)

Enter a number 5

{0.39920978001660967, 0.6829120246235983, 0.07634515644213336, 0.9014955153632972, 0.4609617842795225}

In [6]:
# 29. Check if a set is empty.

set1=set([1])
if(set1 == set()):
    print("Set is empty")
else:
    print("Set is not empty")

Set is not empty

In [43]:
# 30. Create a nested set (hint: use frozenset).

s = set()
s.add(frozenset((1,2)))
s.add(frozenset((2,3)))
s.add(frozenset((4,5)))
s

{frozenset({4, 5}), frozenset({2, 3}), frozenset({1, 2})}

In [7]:
# 31. Remove an element from a set using the discard method.

set1 = {int(i) for i in input("Enter space sperated elements").split()}
n = int(input("Enter a number"))
set1.discard(n)
print("Updated set",set1)

Enter space sperated elements 1 2 3 4 5
Enter a number 4

Updated set {1, 2, 3, 5}

In [10]:
# 32. Compare two sets.

set1 = {1,2,3,7,5}
set2= {1,2,2,4,8}

if(len(set1) == len(set2)):
    if(set1==set2):
        print("both are eqal")
else:
    print("both are not equal")

both are not equal

In [12]:
# 33. Create a set from a string.

st1= input()
print(set(st1))

 hii

{'h', 'i', ' '}

In [14]:
# 34. Convert a set of strings to a set of integers.

set1 = set(input().split())
setInt = set(map(int,set1))
print(setInt)

 1 2 3 4 5

{1, 2, 3, 4, 5}

In [16]:
# 35. Convert a set of integers to a set of strings.

set1= {1, 2, 3, 4, 5}
setStr = set(map(str,set1))
print(setStr)

{'3', '4', '1', '2', '5'}

In [18]:
# 36. Create a set from a tuple.

ex= {1, 2, 3, 4, 5}
exTuple = tuple(ex)
print(exTuple)

(1, 2, 3, 4, 5)

In [19]:
# 37. Convert a set to a tuple.

ex= (1, 2, 3, 4, 5)
exSet = set(ex)
print(exSet)

{1, 2, 3, 4, 5}

In [21]:
# 38. Find the maximum value in a set.
# 39. Find the minimum value in a set.

set1 = {11, 13, 47, 56, 89, 92, 94, 57}
maxi = max(set1)
mini = min(set1)
print(f"Maximum number in {set1} is {maxi}")
print(f"Minimum number in {set1} is {mini}")

Maximum number in {11, 13, 47, 56, 89, 92, 94, 57} is 94
Minimum number in {11, 13, 47, 56, 89, 92, 94, 57} is 11

In [23]:
# 40. Create a set from user input.

set1 = set(map(int,input("enter numbers seperated by space").split()))
print(set1)

enter numbers seperated by space 1 2 3 4 5

{1, 2, 3, 4, 5}

In [24]:
# 41. Check if the intersection of two sets is empty.

set1 = {2, 4, 6, 8, 10}
set2= {1, 3, 5, 7, 9}
print("intersection is empty" if(set1.isdisjoint(set2)) else "intersection is not empty")

intersection is empty

In [26]:
# 42. Create a set of the first 5 Fibonacci numbers.

n = int(input("Enter the length of fibonacci series"))
set1=set()
a,b=0,1
while(len(set1)!=n):
    set1.add(a)
    a,b=b,a+b
print(set1)

Enter the length of fibonacci series 5

{0, 1, 2, 3, 5}

In [ ]:
# 43. Remove duplicates from a list using sets.

my_list=  [83, 39, 65, 44, 12, 12, 93, 78, 22, 65, 44]
my_list = list(set(my_list))
print('List with no duplicates is',my_list)

In [29]:
# 44. Check if two sets have the same elements, regardless of their count.

set1 = {1, 2, 2, 3, 3, 3}
set2 = {3, 2, 1}
if(set1==set2):
    print("both are eqaul")
else:
    print("both are not equal")

both are eqaul

In [31]:
# 45. Create a set of the first `n` powers of 2.

n = int(input("Enter a number"))
set1 = set()
for i in range(n+1):
    set1.add(2**i)
print(set1)

Enter a number 5

{32, 1, 2, 4, 8, 16}

In [36]:
# 46. Find the common elements between a set and a list.

my_list=  [83, 39, 65, 44, 12, 12, 93, 78, 22, 65, 44]
my_set= {93, 78, 22, 65, 44}
print([i for i in my_set if i in my_list])

[65, 22, 44, 93, 78]

In [37]:
# 47. Create a set of the first `n` triangular numbers.

n = int(input("Enter a number"))
set1 = set()
for i in range(n+1):
    set1.add((i*(i+1))//2)
print(f"the first {n} triangular numbers {set1}")

Enter a number 5

the first 5 triangular numbers {0, 1, 3, 6, 10, 15}

In [39]:
# 48. Check if a set contains another set as a subset.

set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {2, 4, 6, 8, 10}

print(set2.issubset(set1) or set1.issubset(set2))

True

In [40]:
# 49. Create a set of alternating 1s and 0s of length `n`.

n = int(input("Enter a number"))
print(set(i%2 for i in range(1,n+1)))

Enter a number 8

{0, 1}

In [42]:
# 50. Merge multiple sets into one.


set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {21, 4, 66, 8, 11}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 66, 11, 21}