In [4]:
# 1. Create a tuple with integers from 1 to 5.
tuple1=tuple(range(1,6))
print(tuple1)

(1, 2, 3, 4, 5)

In [9]:
# 2. Access the third element of a tuple.

print("Third index of the tuple is ",tuple1[2])

Third index of the tuple is  3

In [10]:
# 3. Find the length of a tuple without using the `len()` function.

print("Length of the tuple is: ",sum(1 for i in tuple1))

Length of the tuple is:  5

In [16]:
# 4. Count the occurrences of an element in a tuple is ", tuple1.count(n) if tuple1.find(n) else "0").

tuple1=(44, 56, 22, 78, 93, 22, 12, 45, 65, 22, 83)
n = int(input("Enter a number"))
print("the occurrences of an element in a tuple is ", tuple1.count(n))

Enter a number 1

the occurrences of an element in a tuple is  0

In [19]:
# 5. Find the index of the first occurrence of an element in a tuple.

n = int(input("Enter a number"))
print("the index of the first occurrence of an element in a tuple", tuple1.index(n))

Enter a number 22

the index of the first occurrence of an element in a tuple 2

In [21]:
# 6. Check if an element exists in a tuple.

n = int(input("Enter a number"))
print(f"{n} does exist"  if tuple1.count(n) else f"{n} does not exist")

Enter a number 1

1 does not exist

In [22]:
# 7. Convert a tuple to a list.

print(list(tuple1))

[44, 56, 22, 78, 93, 22, 12, 45, 65, 22, 83]

In [23]:
# 8. Convert a list to a tuple.

list1 = [44, 56, 22, 78, 93, 2, 12, 45, 65, 39, 83]
print(tuple(list1))

(44, 56, 22, 78, 93, 2, 12, 45, 65, 39, 83)

In [30]:
# 9. Unpack the elements of a tuple into variables.

tuple1 = tuple(input("Enter three numbers seperated by space").split())
a,b,c= tuple1
print(f"a={a} , b={b} , c={c}")

p,*r = tuple1
print(f"two parts of {tuple1} is {p},{r}")

Enter three numbers seperated by space 22 33 44

a=22 , b=33 , c=44
two parts of ('22', '33', '44') is 22,['33', '44']

In [34]:
# 10. Create a tuple of even numbers from 1 to 10.
even=tuple([i for i in range(1,11) if i%2==0])

print(" tuple of even numbers from 1 to 10", even)

 tuple of even numbers from 1 to 10 (2, 4, 6, 8, 10)

In [35]:
# 11. Create a tuple of odd numbers from 1 to 10.

odd= tuple(range(1,11,2))
print(" tuple of odd numbers from 1 to 10", odd)

 tuple of odd numbers from 1 to 10 (1, 3, 5, 7, 9)

In [37]:
# 12. Concatenate two tuples.
# 30. Merge two tuples.

print(" Concatenation of first even numbers then odd number from 1 to 10 is:", even+odd)

 Concatenation of first even numbers then odd number from 1 to 10 is: (2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [38]:
# 13. Repeat a tuple three times.

print("three times repeated even numbers are", even*3)

three times repeated even numbers are (2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

In [40]:
# 14. Check if a tuple is empty.

tuple1 = tuple(input("enter something").split())
print("tuple is empty" if tuple1 == tuple() else "tuple is not empty")

enter something

tuple is empty

In [4]:
# 15. Create a nested tuple.
 
col = int(input("enter no of columns"))
tuple1 = input("enter something").split()
nexted_tuple = tuple([tuple(tuple1[i:i+col]) for i in range(0,len(tuple1),col)])
print(nexted_tuple)

enter no of columns 3
enter something 1 2 3 4 5 6 7 8 9

(('1', '2', '3'), ('4', '5', '6'), ('7', '8', '9'))

In [48]:
# 16. Access the first element of a nested tuple.

print("first element of a nested tuple is",nexted_tuple[0][0])

first element of a nested tuple is 1

In [53]:
# 17. Create a tuple with a single element.
tuple1= ('nityaa',)
print(tuple1)

('nityaa',)

In [63]:
# 18. Compare two tuples.

tuple1 = (1,2,3,7,5)
tuple2= (1,2,2,4,8)

if(tuple1>tuple2):
    print("Element of tuple 1 is greater")
elif(tuple1<tuple2):
    print("Element of tuple 2 is greater")
else:
    print("Element of tuple 1 and tuple2 are equal")

Element of tuple 1 is greater

In [70]:
# 19. Delete a tuple.

tuple1 = (1,2,3,7,5)
print(f"{tuple1}" if tuple1 else"tuple dont exist")
del(tuple1)
print(f"{tuple1}" if tuple1== none else"tuple dont exist")

(1, 2, 3, 7, 5)

NameError: name 'tuple1' is not defined

In [71]:
# 20. Slice a tuple.

tuple1= (44, 56, 22, 78, 93, 2, 12, 45, 65, 39, 83)
print(tuple1[3:6])

(78, 93, 2)

In [72]:
# 21. Find the maximum value in a tuple.
# 22. Find the minimum value in a tuple.

tuple1= (44, 56, 22, 78, 93, 2, 12, 45, 65, 39, 83)
maxi = max(tuple1)
mini = min(tuple1)
print(f"Maximum number in {tuple1} is {maxi}")
print(f"Minimum number in {tuple1} is {mini}")

Maximum number in (44, 56, 22, 78, 93, 2, 12, 45, 65, 39, 83) is 93
Minimum number in (44, 56, 22, 78, 93, 2, 12, 45, 65, 39, 83) is 2

In [76]:
# 23. Convert a string to a tuple of characters.

strr= input("enter a string")
print("tuple of characters",tuple(strr))

enter a string nityaa

tuple of characters ('n', 'i', 't', 'y', 'a', 'a')

In [81]:
# 24. Convert a tuple of characters to a string.

tuple1 = ('n', 'i', 't', 'y', 'a', 'a')
print("".join(tuple1))

nityaa

In [82]:
# 25. Create a tuple from multiple data types.

a= input("Enter a string")
b = int(input("Input a number"))
c = float(input("Input a decimal number"))
tuple1=(a,b,c)
print(tuple1)

Enter a string nityaa
Input a number 4
Input a decimal number 3.4

('nityaa', 4, 3.4)

In [84]:
# 26. Check if two tuples are identical.

tuple1 = (1,2,3,7,5)
tuple2= (1,2,2,4,8)
print("Indentical tuple" if tuple1== tuple2 else"not identical tuple")

not identical tuple

In [86]:
# 27. Sort the elements of a tuple.

tuple1= (44, 56, 22, 78, 93, 2, 12, 45, 65, 39, 83)
print(sorted(tuple1))

[2, 12, 22, 39, 44, 45, 56, 65, 78, 83, 93]

In [2]:
# 28. Convert a tuple of integers to a tuple of strings.

tuple1= (44, 56, 22, 78, 93, 2, 12, 45, 65, 39, 83)
print(tuple(str(i) for i in tuple1))

('44', '56', '22', '78', '93', '2', '12', '45', '65', '39', '83')

In [3]:
# 29. Convert a tuple of strings to a tuple of integers.

tuple1= ('44', '56', '22', '78', '93', '2', '12', '45', '65', '39', '83')
print(tuple(int(i) for i in tuple1))

(44, 56, 22, 78, 93, 2, 12, 45, 65, 39, 83)

In [9]:
# 31. Flatten a nested tuple.

tuple1 = (('1', '2', '3'), ('4', '5', '6'), ('7', '8', '9'))
flattend_tuple = tuple(j for i in tuple1 for j in i)
print(flattend_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9')

In [11]:
# 32. Create a tuple of the first 5 prime numbers.


def isPrimeNumber(num):
    for i in range(2,num//2+1):
        if(num % i == 0):
            return False    
    else:
        return True
prime_numbers=tuple()
i=2
while(len(prime_numbers)!= 5):
    if(isPrimeNumber(i)):
        prime_numbers+=(i,)
    i+=1

print("tuple of the first 5 prime numbers is",prime_numbers)

tuple of the first 5 prime numbers is (2, 3, 5, 7, 11)

In [12]:
# 33. Check if a tuple is a palindrome.

tuple1=(44,33,22,11,22,33,44)
print("tuple is pallindrome" if tuple1==tuple1[::-1] else "tuple is not pallindrome")

tuple is pallindrome

In [14]:
# 34. Create a tuple of squares of numbers from 1 to 5.

print(tuple(i**2 for i in range(1,6)))

(1, 4, 9, 16, 25)

In [15]:
# 35. Filter out all even numbers from a tuple.

tuple1= (44, 56, 22, 78, 93, 2, 12, 45, 65, 39, 83)
evens= tuple(i for i in tuple1 if i%2==0)
print(f"Even no's in {tuple1} are {evens}")

Even no's in (44, 56, 22, 78, 93, 2, 12, 45, 65, 39, 83) are (44, 56, 22, 78, 2, 12)

In [16]:
# 36. Multiply all elements in a tuple by 2.

tuple1= (44, 56, 22, 78, 93, 2, 12, 45, 65, 39, 83)
print( tuple( i*2 for i in tuple1) )

(88, 112, 44, 156, 186, 4, 24, 90, 130, 78, 166)

In [19]:
# 37. Create a tuple of random numbers.

import random 

n = int(input("Enter the number of random numbers you want to generate"))
a = int(input("Enter the starting range"))
b = int(input("Enter the ending range"))
random_numbers= tuple()
for i in range(n):
    random_numbers += (random.randint(a,b),)
print(random_numbers)

Enter the number of random numbers you want to generate 5
Enter the starting range 2
Enter the ending range 15

(10, 9, 3, 8, 12)

In [24]:
# 38. Check if a tuple is sorted.

#  APPROCH USED -> if every no is greator than its prev one than the list is sorted else not.

tuple1 = (22,33,44,55,66,77,88,99)

def checkSorted(tuple1):
    for i in range(len(tuple1)-1):
        if tuple1[i] > tuple1[i+1]:
            return False
    return True

print (f"{tuple1} is sorted" if checkSorted(tuple1) else f"{tuple1} is unsorted")

(22, 33, 44, 55, 66, 77, 88, 99) is sorted

In [26]:
# 39. Rotate a tuple to the left by `n` positions.

tuple1 = (22,33,44,55,66,77,88,99)
r = int(input("Enter the number of rotations"))
n= len(tuple1)
rotated = tuple(tuple1[n-r:] + tuple1[:n-r+1])
print(f"After {r} left rotation {rotated}")

Enter the number of rotations 3

After 3 left rotation (77, 88, 99, 22, 33, 44, 55, 66, 77)

In [28]:
# 40. Rotate a tuple to the right by `n` positions.
tuple1 = (22,33,44,55,66,77,88,99)
r = int(input("Enter the number of rotations"))
n= len(tuple1)
rotated = tuple(tuple1[r:] + tuple1[:r])
print(f"After {r} right rotation {rotated}")

Enter the number of rotations 3

After 3 right rotation (55, 66, 77, 88, 99, 22, 33, 44)

In [30]:
# 41. Create a tuple of the first 5 Fibonacci numbers.

n = int(input("Enter the length of fibonacci series"))
tuple1=(0,1)
for i in range(2,n):
    tuple1+=(tuple1[i-2]+tuple1[i-1],)
print(tuple1)

Enter the length of fibonacci series 5

(0, 1, 1, 2, 3)

In [34]:
# 42. Create a tuple from user input.

# str1 = input("enter the elements seperated by space")
# tuple1 = tuple(int(i) for i in str1.split())

tuple1 = tuple()
while(True):
    element = input("enter the element")
    if(element == ''):
        break
    tuple1+= (int(element),)
    
print(tuple1)

enter the element 1
enter the element 2
enter the element 3
enter the element 4
enter the element 5
enter the element

(1, 2, 3, 4, 5)

In [42]:
# 43. Swap two elements in a tuple.

tuple1= (44, 56, 22, 78, 93, 2, 12, 45, 65, 39, 83)
a,b= tuple(int(i) for i in input("enter the position u want to split").split())

# updated_tuple= tuple1[:a] + (tuple1[b],) + tuple1[a+1:b] + (tuple1[a],) + tuple1[b:]

list1 = list(tuple1)
list1[a],list1[b]= list1[b],list1[a]
updated_tuple = tuple(list1)

print(updated_tuple)

enter the position u want to split 3 5

(44, 56, 22, 2, 93, 78, 12, 45, 65, 39, 83)

In [43]:
# 44. Reverse the elements of a tuple.

tuple1= (44, 56, 22, 78, 93, 2, 12, 45, 65, 39, 83)
print("Revesed tuple is", tuple1[::-1])

Revesed tuple is (83, 39, 65, 45, 12, 2, 93, 78, 22, 56, 44)

In [44]:
# 45. Create a tuple of the first `n` powers of 2.

n = int(input("Enter a number"))
tuple1 = tuple()
for i in range(n+1):
    tuple1+=(2**i,)
print(tuple1)

Enter a number 5

(1, 2, 4, 8, 16, 32)

In [47]:
# 46. Find the longest string in a tuple of strings.
# 47. Find the shortest string in a tuple of strings.

tuple1 = tuple(input("enter a string").split())
longest = max(tuple1,key=len)
shortest = min(tuple1,key=len)
print(f"Longest word in {tuple1} is {longest}")
print(f"Shortest word in {tuple1} is {shortest}")

enter a string hi wish you a happy day

Longest word in ('hi', 'wish', 'you', 'a', 'happy', 'day') is happy
Shortest word in ('hi', 'wish', 'you', 'a', 'happy', 'day') is a

In [48]:
# 48. Create a tuple of the first `n` triangular numbers.

n = int(input("Enter a number"))
tuple1 = tuple()
for i in range(n+1):
    tuple1+=((i*(i+1))//2,)
print(f"the first {n} triangular numbers {tuple1}")

Enter a number 5

the first 5 triangular numbers (0, 1, 3, 6, 10, 15)

In [56]:
# 49. Check if a tuple contains another tuple as a subsequence.

tuple1 = (83, 39, 65, 45, 12, 2, 93, 78, 22, 56, 44)
tuple2 = (22, 56, 44)

for i in range(len(tuple1)-len(tuple2)+1):
    if(tuple2 == tuple1[i:i+len(tuple2)]):
        print(f"{tuple2} is a subsequence of {tuple1}")
        break
else:
        print(f"{tuple2} is not a subsequence of {tuple1}")

(22, 56, 44) is a subsequence of (83, 39, 65, 45, 12, 2, 93, 78, 22, 56, 44)

In [57]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.

n = int(input("Enter a number"))
print(tuple(i%2 for i in range(1,n+1)))

Enter a number 9

(1, 0, 1, 0, 1, 0, 1, 0, 1)